@import "../../styles/variables/index.scss";

.p {
    color: $body-text;
    // color: #0A41BF;
    font-family: Coco Goose;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    margin-top: 16px;

    @media (max-width: 1441px) {
        font-size: 14px;
    }

    @media (max-width: 461px) {
        font-size: 16px;
        line-height: 146%;
        // margin-top: -24px;
    }
}