@import "./variables/index.scss";

.pageWrapper {
    overflow-x: hidden;
    position: relative;

    &:-webkit-scrollbar {
        display: none;
    }

    &:-webkit-slider-thumb {
        width: 4px;
    }
}

.progressTracker {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: red;
    transform-origin: 0%;
    z-index: 4;
}

.coverPageWrapper{
    height: 100vh;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coverPage{
    font-family: Bebas Neue;
    color:#0A41BF;
    position: relative;
    // height: 70%;
    // width: 42%;

    @media (max-width: 429px) {
        transform: scale(60%);        
    }
}

.topPart{
    display: flex;
    gap: 20px;
    height: 70%;
    // border: 1px solid red;
    align-items: flex-end;
}

.forty {
    font-size: 440px;
    line-height: 84%;

    @media (max-width: 1441px) {
        font-size: 320px;
    }
}

.waysToLose{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 2px;
    // margin-bottom: -64px;
}

.waysTo {
    display: flex;
    align-items: baseline;
    gap: 16px;
    // margin-top: -400px;
}

.ways{
    font-size: 132px;
        @media (max-width: 1441px) {
                font-size: 64px;
            }
}

.to{
    font-size: 48px;
            @media (max-width: 1441px) {
                    font-size: 32px;
                }
}

.lose{
    font-size: 280px;
    line-height: 80%;
    text-align: end;
        @media (max-width: 1441px) {
                font-size: 240px;
            }
}

.middlePart{
    display: flex;
    align-items: top;
    // margin-top: -64px;
    gap: 20px;
    width: 100%;
    justify-content: flex-end;
}

.moneyIn{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.money{
    font-size: 64px;
}

.in{
    font-size: 40px;
    text-align: right;
    margin-top: -16px;
}

.nairobi{
    font-size: 240px;
    line-height: 90%;
    letter-spacing: 8px;

        @media (max-width: 1441px) {
                font-size: 160px;
            }
}

.coverFooter{
    display: flex;
    justify-content: flex-end;
    font-family: Coco Goose;
    font-size: 24px;
    font-weight: 300;
    margin-top: 24px;

            @media (max-width: 1441px) {
                    font-size: 20px;
                }
}

.home{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bodyRight {
    width: 50%;
    position: absolute;
    bottom: 25%;
    right: 5%;

    @media (max-width: 769px) {
        position: relative;
        right: -50%;
        bottom: 20%;
    }

    @media (max-width: 426px) {
        position: absolute;
        width: 95%;
        right: 0;
        bottom: 35%        
        // margin-top: -100px;
        // margin-bottom: 300px;
    }
}

.bodyLeft {
    width: 40%;
    position: absolute;
    bottom: 25%;
    left: 5%;

    @media (max-width: 1025px) {
        width: 45%;
        bottom: 20%;
    }

    @media (max-width: 769px) {
        position: relative;
        width: 60%;
        left: 0;
    }

    @media (max-width: 426px) {
        position: absolute;
        width: 95%;
        bottom: 45%;
        left: 2%;
    }
}

.ponzi {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 1;

    @media (max-width: 1441px) {
        bottom: -84px;
    }

    @media (max-width: 1025px) {
        bottom: 150px;
        width: 450px;
        height: 600px;
    }

    @media (max-width: 769px) {
        width: 350px;
        height: 200px;
        top: 50px;
        right: 400px;
    }

    @media (max-width: 426px) {
        position: relative;
        width: 300px;
        height: 100px;
        top: 0px;
        margin-bottom: 100px;
    }
}

.pastor {
    position: absolute;
    right: 0px;
    bottom: -10px;

    @media (max-width: 1441px) {
        right: 0%;
    }

    @media (max-width: 769px) {
        width: 350px;
        height: 200px;
        bottom: 150px;
    }

    @media (max-width: 426px) {
        position: relative;
        margin-top: 132px;
        // margin-bottom: 72px;
        bottom: -30%;
        transform: scale(50%);
    }

    @media (max-width: 321px) {
        width: 300px;
    }
}

.luthuli {
    position: absolute;
    left: 0px;
    bottom: -60px;
    z-index: 1;

    @media (max-width: 1441px) {
        bottom: -84px;
    }

    @media (max-width: 1025px) {
        bottom: 150px;
        width: 450px;
        height: 600px;
    }

    @media (max-width: 769px) {
        width: 350px;
        height: 200px;
        right: 400px;
    }

    @media (max-width: 426px) {
        bottom: 4%;
        width: 300px;
        height: 100px;
        margin-bottom: 240px;
    }
}

.washwash {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    width: 600px;
    height: 760px;

    @media (max-width: 1501px) {
        height: 640px;
        width: 480px;
        bottom: 14%
    }

    @media (max-width: 769px) {
        width: 350px;
        height: 400px;
        top: 150px;
    }

    @media (max-width: 426px) {
        top: 440px;
        right: -15%;
        margin-bottom: 0;
    }

    @media (max-width: 321px) {
        width: 250px;
        margin-bottom: 24px;
    }
}

.nywele {
    position: absolute;
    left: 0px;
    bottom: -5px;
    z-index: 1;

    @media (max-width: 1025px) {
        left: -12%;
    }

    @media (max-width: 769px) {
        left: -22%;
    }

    @media (max-width: 426px) {
        position: static;
        bottom: 0;
        margin-bottom: -60px;
    }
}

.ben10 {
    position: absolute;
    right: 0px;
    bottom: -5px;
    z-index: 1;

    @media (max-width: 1025px) {
        bottom: 0px;
    }

    @media (max-width: 426px) {
        position: relative;
        bottom: 0px;
        left: 0;
        margin-bottom: 0px;
    }
}

.iphone {
    position: absolute;
    left: 0px;
    bottom: -5px;
    z-index: 1;

    @media (max-width: 1025px) {
        left: -12%;
    }

    @media (max-width: 769px) {
        left: -17%;
    }

    @media (max-width: 426px) {
        position: static;
        left: 20%;
        bottom: -50px;
    }
}

.shitstorm {
    position: absolute;
    right: 0px;
    // top: -15%;
    z-index: 1;
    width: 680px;
    height: 760px;

    @media (max-width: 1441px) {
        top: -1%;
    }

    @media (max-width: 1025px) {
        top: -10%;
        right: 0;
    }

    @media (max-width: 426px) {
        top: 60%;
        margin-top: -50px;
        width: auto;
        height: 400px;
    }
}

.logbook {
    position: absolute;
    left: 0px;
    top: 25%;
    z-index: 1;

    @media (max-width: 1025px) {
        width: 50%;
        top: 10%;
        left: -5%;
    }

    @media (max-width: 426px) {
        top: 60%;
        margin-bottom: 48px;
        width: 400px;
    }

    @media (max-width: 376px) {
        width: 300px;
    }

    @media (max-width: 321px) {
        width: 250px;
    }
}

.house {
    position: absolute;
    right: 0px;
    bottom: -70px;
    z-index: 1;

    @media (max-width: 1120px) {
        width: 40%;
        right: 0%;
    }

    @media (max-width: 426px) {
        bottom: -5%;
        width: 400px;
    }

    @media (max-width: 376px) {
        width: 300px;
    }

    @media (max-width: 321px) {
        width: 250px;
    }
}

.multilevel {
    position: absolute;
    left: 0px;
    top: 10%;
    z-index: 1;
    width: 600px;
    height: 800px;

    @media (max-width: 1441px) {
        top: 25%;
        right: 0%;
    }

    @media (max-width: 1120px) {
        width: 40%;
        top: 10%;
        right: 0%;
    }

    @media (max-width: 426px) {
        height: auto;
        width: 120px;
        top: 100%;
    }

    @media (max-width: 376px) {
        width: 300px;
    }

    @media (max-width: 321px) {
        width: 250px;
    }
}

.patapotea {
    position: absolute;
    right: 0px;
    top: 25%;
    z-index: 1;

    @media (max-width: 1120px) {
        width: 40%;
        top: 10%;
        right: 0%;
    }

    @media (max-width: 426px) {
        width: 300px;
        top: 55%;
        right: 15%;
    }

    @media (max-width: 376px) {
        width: 300px;
    }

    @media (max-width: 321px) {
        width: 250px;
    }
}

.newspaper {
    position: absolute;
    left: 0px;
    bottom: 0%;
    z-index: 1;
    transform: scale(110%);

    @media (max-width: 1120px) {
        width: 40%;
        top: 10%;
        right: 0%;
    }

    @media (max-width: 426px) {
        
    }

    @media (max-width: 376px) {
        width: 300px;
    }

    @media (max-width: 321px) {
        width: 250px;
    }
}

.multilevel {
    position: absolute;
    left: 0px;
    top: -5%;
    z-index: 1;

    @media (max-width: 1120px) {
        width: 40%;
        top: 10%;
    }

    @media (max-width: 426px) {
        width: 300px;
        top: 55%;
        left: 20%;
    }

    @media (max-width: 376px) {
        width: 300px;
    }

    @media (max-width: 321px) {
        width: 250px;
    }
}

.duka {
    position: absolute;
    right: 0%;
    bottom: 0%;

    @media (max-width: 1120px) {
        width: 40%;
        top: 10%;
        right: 0%;
    }

    @media (max-width: 426px) {
        position: relative;
        left: 10;
        margin-bottom: 48px;
        width: 400px;
    }

    @media (max-width: 376px) {
        width: 300px;
    }

    @media (max-width: 321px) {
        width: 250px;
    }
}

.biz {
    position: absolute;
    left: 0%;
    bottom: 0%;
    transform: scale(87%);


    @media (max-width: 1120px) {
        width: 40%;
        top: 10%;
        right: 0%;
    }

    @media (max-width: 426px) {
        position: relative;
        left: 10;
        margin-bottom: 48px;
        width: 400px;
    }

    @media (max-width: 376px) {
        width: 300px;
    }

    @media (max-width: 321px) {
        width: 250px;
    }
}

.vote {
    position: absolute;
    margin-bottom: 2em;
    right: 10%;
    bottom: 7%;
    z-index: 1;
    width: 400px;
    // height: 800px;
    // transform: scale(65%);

    @media (max-width: 1120px) {
        width: 40%;
        top: 10%;
        right: 0%;
    }

    @media (max-width: 426px) {
        position: relative;
        left: -20px;
        top: 50px;
        margin-bottom: 48px;
        width: 400px;
    }

    @media (max-width: 376px) {
        width: 300px;
    }

    @media (max-width: 321px) {
        width: 250px;
    }
}

.phone {
    position: absolute;
    left: 0%;
    z-index: 2;
    bottom: 0;
    width: 680px;
    height: 800px;
    // transform: scale(94%);

    @media (max-width: 1441px) {
        // width: 40%;
        top: 10%;
        // right: 0%;       
    }

    @media (max-width: 1120px) {
        width: 40%;
        bottom: 0;
        right: 0%;
    }

    @media (max-width: 426px) {
        position: relative;
        left: -20px;
        top: 50px;
        margin-bottom: 48px;
        width: 400px;
    }

    @media (max-width: 376px) {
        width: 300px;
    }

    @media (max-width: 321px) {
        width: 250px;
    }
}

.politician {
    position: absolute;
    right: 5%;
    z-index: 2;
    top: 5%;
    width: 400px;
    height: 800px;
    // transform: scale(94%);

    @media (max-width: 1441px) {
        // width: 40%;
        top: 0%;
        width: 320px;
        height: 700px;
        // right: 0%;       
    }

    @media (max-width: 1120px) {
        width: 40%;
        bottom: 0;
        right: 0%;
    }

    @media (max-width: 426px) {
        position: relative;
        left: -20px;
        top: 50px;
        margin-bottom: 48px;
        width: 400px;
    }

    @media (max-width: 376px) {
        width: 300px;
    }

    @media (max-width: 321px) {
        width: 250px;
    }
}

.jaba {
    position: absolute;
    left: 0%;
    z-index: 2;
    bottom: 0%;
    width: 756px;
    height: 612px;
    // transform: scale(94%);

    @media (max-width: 1441px) {
        // width: 40%;
        // right: 0%;
        width: 600px;
        height: 440px
    }

    @media (max-width: 1120px) {
        width: 40%;
        bottom: 0;
        right: 0%;
    }

    @media (max-width: 426px) {
        position: relative;
        left: -20px;
        top: 50px;
        margin-bottom: 48px;
        width: 400px;
    }

    @media (max-width: 376px) {
        width: 300px;
    }

    @media (max-width: 321px) {
        width: 250px;
    }
}

.refund {
    position: absolute;
    right: 10%;
    z-index: 2;
    top: 25%;
    // width: 400px;
    height: 70%;
    // transform: scale(94%);

    @media (max-width: 1441px) {
        // width: 40%;
        top: 20%;
        // right: 0%;       
    }

    @media (max-width: 1120px) {
        width: 40%;
        bottom: 0;
        right: 0%;
    }

    @media (max-width: 426px) {
        position: relative;
        left: -20px;
        top: 50px;
        margin-bottom: 48px;
        width: 400px;
    }

    @media (max-width: 376px) {
        width: 300px;
    }

    @media (max-width: 321px) {
        width: 250px;
    }
}

.agent {
    position: absolute;
    left: 0%;
    z-index: 2;
    bottom: 0%;
    // width: 400px;
    height: 60%;
    // transform: scale(94%);

    @media (max-width: 1441px) {
        // width: 40%;
        // right: 0%;       
    }

    @media (max-width: 1120px) {
        width: 40%;
        bottom: 0;
        right: 0%;
    }

    @media (max-width: 426px) {
        position: relative;
        left: -20px;
        top: 50px;
        margin-bottom: 48px;
        width: 400px;
    }

    @media (max-width: 376px) {
        width: 300px;
    }

    @media (max-width: 321px) {
        width: 250px;
    }
}

.coin {
    position: absolute;
    right: 5%;
    z-index: 2;
    top: 10%;
    // width: 400px;
    height: 50%;
    // transform: scale(94%);

    @media (max-width: 1441px) {
        // width: 40%;
        top: 25%;
        // right: 0%;       
    }

    @media (max-width: 1120px) {
        width: 40%;
        bottom: 0;
        right: 0%;
    }

    @media (max-width: 426px) {
        position: relative;
        left: -20px;
        top: 50px;
        margin-bottom: 48px;
        width: 400px;
    }

    @media (max-width: 376px) {
        width: 300px;
    }

    @media (max-width: 321px) {
        width: 250px;
    }
}

.forex {
    position: absolute;
    left: 2%;
    z-index: 2;
    bottom: 0%;
    // width: 400px;
    height: 60%;
    // transform: scale(94%);

    @media (max-width: 1441px) {
        // width: 40%;
        // right: 0%;       
    }

    @media (max-width: 1120px) {
        width: 40%;
        bottom: 0;
        right: 0%;
    }

    @media (max-width: 426px) {
        position: relative;
        left: -20px;
        top: 50px;
        margin-bottom: 48px;
        width: 400px;
    }

    @media (max-width: 376px) {
        width: 300px;
    }

    @media (max-width: 321px) {
        width: 250px;
    }
}

.greenHouse {
    position: absolute;
    right: 2%;
    z-index: 2;
    bottom: 0%;
    // width: 400px;
    height: 60%;
    // transform: scale(94%);

    @media (max-width: 1441px) {
        // width: 40%;
        // right: 0%;
        height: 50%;
    }

    @media (max-width: 1120px) {
        width: 40%;
        bottom: 0;
        right: 0%;
    }

    @media (max-width: 426px) {
        position: relative;
        left: -20px;
        top: 50px;
        margin-bottom: 48px;
        width: 400px;
    }

    @media (max-width: 376px) {
        width: 300px;
    }

    @media (max-width: 321px) {
        width: 250px;
    }
}

.con {
    position: absolute;
    left: 4%;
    z-index: 2;
    top: 20%;
    // width: 400px;
    height: 60%;
    // transform: scale(94%);

    @media (max-width: 1441px) {
        // width: 40%;
        top: 25%;
        // right: 0%;       
    }

    @media (max-width: 1120px) {
        width: 40%;
        bottom: 0;
        right: 0%;
    }

    @media (max-width: 426px) {
        position: relative;
        left: -20px;
        top: 50px;
        margin-bottom: 48px;
        width: 400px;
    }

    @media (max-width: 376px) {
        width: 300px;
    }

    @media (max-width: 321px) {
        width: 250px;
    }
}

.online {
    position: absolute;
    right: 4%;
    z-index: 2;
    bottom: 0%;
    // width: 400px;
    height: 60%;
    // transform: scale(94%);

    @media (max-width: 1441px) {
        // width: 40%;
        // right: 0%;       
    }

    @media (max-width: 1120px) {
        width: 40%;
        bottom: 0;
        right: 0%;
    }

    @media (max-width: 426px) {
        position: relative;
        left: -20px;
        top: 50px;
        margin-bottom: 48px;
        width: 400px;
    }

    @media (max-width: 376px) {
        width: 300px;
    }

    @media (max-width: 321px) {
        width: 250px;
    }
}

.advancePayment {
    position: absolute;
    left: 4%;
    z-index: 2;
    bottom: 30%;
    // width: 400px;
    height: 35%;
    // transform: scale(94%);

    @media (max-width: 1441px) {
        // width: 40%;
        // right: 0%;       
    }

    @media (max-width: 1120px) {
        width: 40%;
        bottom: 0;
        right: 0%;
    }

    @media (max-width: 426px) {
        position: relative;
        left: -20px;
        top: 50px;
        margin-bottom: 48px;
        width: 400px;
    }

    @media (max-width: 376px) {
        width: 300px;
    }

    @media (max-width: 321px) {
        width: 250px;
    }
}

.nitakurudishia {
    position: absolute;
    right: 4%;
    z-index: 2;
    bottom: 10%;
    // width: 400px;
    height: 60%;
    // transform: scale(94%);

    @media (max-width: 1441px) {
        // width: 40%;
        // right: 0%;       
    }

    @media (max-width: 1120px) {
        width: 40%;
        bottom: 0;
        right: 0%;
    }

    @media (max-width: 426px) {
        position: relative;
        left: -20px;
        top: 50px;
        margin-bottom: 48px;
        width: 400px;
    }

    @media (max-width: 376px) {
        width: 300px;
    }

    @media (max-width: 321px) {
        width: 250px;
    }
}

.lostIdLoans{
    position: absolute;
        left: 4%;
        z-index: 2;
        bottom: 30%;
        // width: 400px;
        height: 35%;
        // transform: scale(94%);
    
        @media (max-width: 1441px) {
            // width: 40%;
            // right: 0%;       
        }
    
        @media (max-width: 1120px) {
            width: 40%;
            bottom: 0;
            right: 0%;
        }
    
        @media (max-width: 426px) {
            position: relative;
            left: -20px;
            top: 50px;
            margin-bottom: 48px;
            width: 400px;
        }
    
        @media (max-width: 376px) {
            width: 300px;
        }
    
        @media (max-width: 321px) {
            width: 250px;
        }
}

.roadsideChurches {
    position: absolute;
    right: 4%;
    z-index: 2;
    bottom: 10%;
    // width: 400px;
    height: 60%;
    // transform: scale(94%);

    @media (max-width: 1441px) {
        // width: 40%;
        // right: 0%;       
    }

    @media (max-width: 1120px) {
        width: 40%;
        bottom: 0;
        right: 0%;
    }

    @media (max-width: 426px) {
        position: relative;
        left: -20px;
        top: 50px;
        margin-bottom: 48px;
        width: 400px;
    }

    @media (max-width: 376px) {
        width: 300px;
    }

    @media (max-width: 321px) {
        width: 250px;
    }
}

.mganga{
    position: absolute;
    left: 4%;
    z-index: 2;
    bottom: 10%;
    // width: 400px;
    height: 60%;
    // transform: scale(94%);

    @media (max-width: 1441px) {
        // width: 40%;
        // right: 0%;       
    }

    @media (max-width: 1120px) {
        width: 40%;
        bottom: 0;
        right: 0%;
    }

    @media (max-width: 426px) {
        position: relative;
        left: -20px;
        top: 50px;
        margin-bottom: 48px;
        width: 400px;
    }

    @media (max-width: 376px) {
        width: 300px;
    }

    @media (max-width: 321px) {
        width: 250px;
    }
}

.scamBook {
    position: absolute;
    right: 4%;
    z-index: 2;
    bottom: 10%;
    // width: 400px;
    height: 60%;
    // transform: scale(94%);

    @media (max-width: 1441px) {
        // width: 40%;
        // right: 0%;       
    }

    @media (max-width: 1120px) {
        width: 40%;
        bottom: 0;
        right: 0%;
    }

    @media (max-width: 426px) {
        position: relative;
        left: -20px;
        top: 50px;
        margin-bottom: 48px;
        width: 400px;
    }

    @media (max-width: 376px) {
        width: 300px;
    }

    @media (max-width: 321px) {
        width: 250px;
    }
}

.endCredits{
    width: 100vw;
    height: 70vh;
    overflow: hidden;
    position: relative;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 148px;    
}

.creditsHeader{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 2;
    height: 148px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 156px;
    background-color: yellow;
    // display: none;

    h1{
        font-family: Bebas Neue;
        font-size: 80px;
        color: #0A41BF;
        letter-spacing: 4px;
    }
}

.creditInnerWrapper{
    width: 80%;
    height: 60%;
    // background-color: bisque;
    overflow: hidden;
    
    &:nth-child(1){
        animation-delay: 1s;
    }
    &:nth-child(2){
        animation-delay: 2s;
    }
    &:nth-child(3){
        animation-delay: 3s;
    }
    &:nth-child(4){
        animation-delay: 4s;
    }
    &:nth-child(5){
        animation-delay: 5s;
    }
}

.credit {
    display: flex;
    margin-bottom: 10px;
    opacity: 1;
    /* Adjust opacity for fading effect */
    animation: creditsAnimation 10s linear infinite;
    /* Optional: Add fade-in effect */
    align-items: center;
    width: 100%;
    // height: 100%;
    justify-content: center;
    font-family: Coco Goose;
    margin-bottom: 24px;
}

@keyframes creditsAnimation {
    0% {
        transform: translateY(3000%);
    }

    100% {
        transform: translateY(0%);
    }
}

.creditName {
    font-size: 18px;
    font-weight: bold;

    &::after{
        content: " - ";
        margin-right: 8px;
    }
}

.creditRole {
    font-size: 14px;
}