@import "./variables/index.scss";

.pageWrapper{
    overflow-x: hidden;
}

.bodyRight{
    width: 50%;
    position: absolute;
    bottom: 25%;
    right: 5%;

    @media (max-width: 769px) {
      position: relative;
      right: -50%;
      bottom: 20%;
    }

    @media (max-width: 426px) {
        width: 100%;
        right: 0;
        bottom: 25%;
        // margin-top: -100px;
        // margin-bottom: 300px;
    }
}

.bodyLeft{
    width: 40%;
    position: absolute;
    bottom: 25%;
    left: 5%;

    @media (max-width: 1025px) {
        width: 45%;
        bottom: 20%;        
    }
    
    @media (max-width: 769px) {
        position: relative;
        width: 60%;
        left: 0;

    }
    @media (max-width: 426px) {
        width: 100%;
        bottom: 35%;
    }
}

.ponzi{
    position: absolute;
    left: 0px;    
    bottom: -60px;
    z-index: 1;
    @media (max-width: 1441px) {
        bottom: -84px;        
    }

    @media (max-width: 1025px) {
        bottom: 150px;
        width: 450px;
        height: 600px;        
    }
    
    @media (max-width: 769px) {
        width: 350px;
        height: 200px;
        top: 50px;
        right: 400px;
    }

    @media (max-width: 426px) {
        position: relative;
        width: 300px;
        height: 100px;
        top: 0px;
        margin-bottom: 100px;
    }    
}

.pastor{
    position: absolute;
    right: 0px;    
    bottom: -10px;
    
    @media (max-width: 1441px) {
        right: 0%;        
    }

    @media (max-width: 769px) {
        width: 350px;
        height: 200px;
        bottom: 150px;
    }

    @media (max-width: 426px) {
        position: relative;
        margin-top: 132px;
        margin-bottom: 72px;
    }

    @media (max-width: 321px) {
        width: 300px;
    }
}

.luthuli{
    position: absolute;
    left: 0px;    
    bottom: -60px;
    z-index: 1;
    @media (max-width: 1441px) {
        bottom: -84px;        
    }

    @media (max-width: 1025px) {
        bottom: 150px;
        width: 450px;
        height: 600px;        
    }
    
    @media (max-width: 769px) {
        width: 350px;
        height: 200px;
        top: 50px;
        right: 400px;
    }

    @media (max-width: 426px) {
        position: relative;
        width: 300px;
        height: 100px;
        top: -100px;
        margin-bottom: 240px;
    }
}

.washwash{
    position: absolute;
    right: 0px;    
    top: 0px;
    z-index: 1;
    
    @media (max-width: 769px) {
        width: 350px;
        height: 400px;
        top: 150px;
    }
    @media (max-width: 426px) {
        position: static;
        top: -100px;
        right: 0;
        margin-bottom: 54px;
    }
    @media (max-width: 321px) {
        width: 250px;
        margin-bottom: 24px;
    }
}

.nywele{
    position: absolute;
    left: 0px;    
    bottom: -5px;
    z-index: 1;
    @media (max-width: 1025px) {
        left: -12%;
    }    
    @media (max-width: 769px) {
        left: -22%;
    }
    @media (max-width: 426px) {
        position: static;
        bottom: 0;
        margin-bottom: -60px;
    }    
}

.ben10{
    position: absolute;
    right: 0px;    
    bottom: -5px;
    z-index: 1;
    @media (max-width: 1025px) {
        bottom: 0px;
    } 
    @media (max-width: 426px) {
        position: relative;
        bottom: 0px;
        left: 0;
        margin-bottom: 0px;
    }   
}

.iphone{
    position: absolute;
    left: 0px;    
    bottom: -5px;
    z-index: 1;
    
    @media (max-width: 1025px) {
        left: -12%;
    }

    @media (max-width: 769px) {
        left: -17%;
    }

    @media (max-width: 426px) {
        position: static;
        left: 20%;
        bottom: -50px;        
    }
}

.shitstorm{
    position: absolute;
    right: 0px;    
    top: -15%;
    z-index: 1;
    
    @media (max-width: 1441px) {
        top: -1%;        
    }
    @media (max-width: 1025px) {
        top: -10%;        
        right: 0;        
    }
    @media (max-width: 426px) {
        position: relative;
        top: 0px;
        margin-top: -50px;        
    }
}

.logbook{
    position: absolute;
    left: 0px;    
    top: 1%;
    z-index: 1;

    @media (max-width: 1025px) {
        width: 50%;
        top: 10%;
        left: -5%;       
    }
    @media (max-width: 426px) {
        position: relative;
        left: 0;
        top: 0;
        margin-bottom: 48px;
        width: 400px;
    }

    @media (max-width: 376px) {
        width: 300px;
    }

    @media (max-width: 321px) {
        width: 250px;
    }        
}

.house{
    position: absolute;
    right: 0px;    
    top: 0%;
    z-index: 1;

    @media (max-width: 1120px) {
        width: 40%;
        top: 10%;
        right: 0%;       
    }
    @media (max-width: 426px) {
        position: relative;
        left: 0;
        top: 0;
        margin-bottom: 48px;
        width: 400px;
    }

    @media (max-width: 376px) {
        width: 300px;
    }

    @media (max-width: 321px) {
        width: 250px;
    }        
}

.multilevel{
    position: absolute;
    left: 0px;    
    top: -5%;
    z-index: 1;

    @media (max-width: 1120px) {
        width: 40%;
        top: 10%;
        right: 0%;       
    }
    @media (max-width: 426px) {
        position: relative;
        left: 0;
        top: 0;
        margin-bottom: 48px;
        width: 400px;
    }

    @media (max-width: 376px) {
        width: 300px;
    }

    @media (max-width: 321px) {
        width: 250px;
    }        
}

.patapotea{
    position: absolute;
    right: 0px;    
    top: 5%;
    z-index: 1;

    @media (max-width: 1120px) {
        width: 40%;
        top: 10%;
        right: 0%;       
    }
    @media (max-width: 426px) {
        position: relative;
        left: -20px;
        top: 50px;
        margin-bottom: 48px;
        width: 400px;
    }

    @media (max-width: 376px) {
        width: 300px;
    }

    @media (max-width: 321px) {
        width: 250px;
    }        
}

.newspaper{
    position: absolute;
    left: 0px;    
    bottom: -23%;
    z-index: 1;
    transform: scale(110%);

    @media (max-width: 1120px) {
        width: 40%;
        top: 10%;
        right: 0%;       
    }
    @media (max-width: 426px) {
        position: relative;
        left: -20px;
        top: 50px;
        margin-bottom: 48px;
        width: 400px;
    }

    @media (max-width: 376px) {
        width: 300px;
    }

    @media (max-width: 321px) {
        width: 250px;
    }        
}

.multilevel{
    position: absolute;
    left: 0px;    
    top: -5%;
    z-index: 1;

    @media (max-width: 1120px) {
        width: 40%;
        top: 10%;
        right: 0%;       
    }
    @media (max-width: 426px) {
        position: relative;
        left: 0;
        top: 0;
        margin-bottom: 48px;
        width: 400px;
    }

    @media (max-width: 376px) {
        width: 300px;
    }

    @media (max-width: 321px) {
        width: 250px;
    }        
}

.duka{
    position:absolute;
    right: 0%;
    bottom: -16%;
    
    @media (max-width: 1120px) {
        width: 40%;
        top: 10%;
        right: 0%;       
    }
    @media (max-width: 426px) {
        position: relative;
        left: 10;
        margin-bottom: 48px;
        width: 400px;
    }

    @media (max-width: 376px) {
        width: 300px;
    }

    @media (max-width: 321px) {
        width: 250px;
    }  
}
.biz{
    position:absolute;
    left: 0%;
    bottom: -40%;
    transform: scale(87%);

    
    @media (max-width: 1120px) {
        width: 40%;
        top: 10%;
        right: 0%;       
    }
    @media (max-width: 426px) {
        position: relative;
        left: 10;
        margin-bottom: 48px;
        width: 400px;
    }

    @media (max-width: 376px) {
        width: 300px;
    }

    @media (max-width: 321px) {
        width: 250px;
    }  
}
.vote{
    position: absolute;
    margin-bottom: 2em;
    right: 0px;    
    bottom: -32%;
    z-index: 1;
    transform: scale(65%);

    @media (max-width: 1120px) {
        width: 40%;
        top: 10%;
        right: 0%;       
    }
    @media (max-width: 426px) {
        position: relative;
        left: -20px;
        top: 50px;
        margin-bottom: 48px;
        width: 400px;
    }

    @media (max-width: 376px) {
        width: 300px;
    }

    @media (max-width: 321px) {
        width: 250px;
    }        
}
.phone{
    position: absolute;
    left: -2%;   
    z-index: 2;
    top: -24%;
    transform: scale(94%);

    @media (max-width: 1120px) {
        width: 40%;
        top: 10%;
        right: 0%;       
    }
    @media (max-width: 426px) {
        position: relative;
        left: -20px;
        top: 50px;
        margin-bottom: 48px;
        width: 400px;
    }

    @media (max-width: 376px) {
        width: 300px;
    }

    @media (max-width: 321px) {
        width: 250px;
    }        
}
