@import "../../styles/variables/index.scss";

.h1, .h2, .h3{
  color: $body-text;
  font-family: Coco Goose;
  font-weight: 600;
}

.h1{
  font-size: 48px;
  @media (max-width: 426px) {
    font-size: 32px;        
  }
}

.h2{
  font-size: 32px;
  @media (max-width: 426px) {
    font-size: 28px;        
  }
}

.h3{
  font-size: 28px;
  @media (max-width: 426px) {
    font-size: 24px;        
  }
}