@import "../../styles/variables/index.scss";

.headerWrapper{
  display: flex;
  align-items: flex-end;
  gap: 20px;
  // border: 2px solid red;
  padding: 4px;
  // color: #0A41BF;
  // vertical-align: baseline;
}

.h1Container{
  color: $body-text;
  // color: #0A41BF;
  font-family: Bebas Neue;
  font-size: 200px;
  // border: solid white 1px;
  line-height:84%;
  // vertical-align: bottom;
}

.data{
  font-family: Bebas Neue;
  font-size: 64px;
  display: flex;
  align-items: flex-end;
  text-indent: 1%;
  line-break: normal;
  // width: 20%;
  // border: 2px solid green;
}