.section{
    display: flex;
    position: relative;
    padding: 32px 132px;
    // min-height: 480px;
    height: 100vh;
    overflow: hidden;

    @media (max-width: 1441px) {
        padding: 72px 80px;        
    }

    @media (max-width: 1025px) {
        padding-top: 72px;                
        padding-bottom: 72px;                
    }

    @media (max-width: 769px) {
        padding: 40px 24px;
        flex-direction: column-reverse;
    }
    @media (max-width: 461px) {
        padding-top: 240px;
        padding-left: 16px;
        padding-right: 16px;
        flex-direction: column-reverse;
    }
}
